@use 'sass:meta';

@mixin subscription-recurring-order-selector($name: '.recurring-order-selector') {
    #{$name} {
        @if meta.mixin-exists(subscription-recurring-order-selector-base-hook) {
            @include subscription-recurring-order-selector-base-hook;
        }

        &__heading {
            margin-bottom: 1rem;
        }

        &__title {
            @include helper-font-size(big);
        }

        &__edit-button {
            display: none;
        }

        &:has(.recurring-order-confirmed__details) {
            #{$name}__edit-button {
                display: inline-block;
            }
        }

        @content;
    }
}
